PORT=3015
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_SESSION_TTL_MS=43200000
BUYER_SESSION_TTL_MS=259200000
PYTHON_BIN=/usr/bin/python3
LIBREOFFICE_BIN=/usr/bin/libreoffice
POPPLER_BIN_DIR=/usr/bin
GHOSTSCRIPT_BIN=/usr/bin/gs
OCRMYPDF_BIN=/usr/local/bin/ocrmypdf
